@import url(./jw.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-weight: normal;
}

.table-head > th {
  color: #333 !important;
}

.active-td {
  position: relative;
}

.active-td:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border: 3px solid #777 !important;
  border-radius: 5px !important;
}
